body {
    background-color: hsl(220, 15%, 15%);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

#state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container > div#title {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0;
}

#gameContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    padding-top: 0;
    width: calc(100% - 2em);
}

.gamePlayButton {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: hsl(240, 15%, 25%);
    border-radius: 0.5em;

    box-shadow: 0.1em 0.1em 0.2em #00000080;
    cursor: pointer;

    /*Button style reset*/
    color: white;
    border: 0;
    font-size: 1em;
}

#gameTiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    width: 30em;
    gap: 0.5em;
    border: solid white 0.5em;
    aspect-ratio: 1;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 15%, 25%);
    font-size: 4em;
    cursor: pointer;
}

.noclick > div {
    cursor: not-allowed;
}

@media screen and (max-width: 550px), screen and (max-height: 630px) {
    #gameTiles {
        width: 20em;
    }
}
